.header{
    display: flex;
    background-color: #196560;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 05px;
}
.header a{
    font-size:larger;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}
.links{
    margin-top: 10px;
    margin-left: 100px;
}

.links a:hover{
    border-bottom: 5px solid #EEA676;
    color: #EEA676;
    padding-bottom: 10px;
    transition: color 0.5s ease, padding 0.5 ease;
    transition: border 0.5s ease;

}
.phone{
    color: white;
    padding-top: 14px;
    margin-left: 150px;
}
.phone-icon{
    color: #EEA676;
}
